
@{
    ViewBag.Title = "Music";
}

<h2>Music</h2>

<table border="1" height="150" width="700">
    <tr>
        <td>數字</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
    </tr>
    <tr>
        <td>結果</td>
        <td>do</td>
        <td>re</td>
        <td>mi</td>
        <td>fa</td>
        <td>so</td>
        <td>la</td>
        <td>xi</td>
    </tr>
</table>