
@{
    ViewBag.Title = "Music";
}

<h2>Music</h2>

<table border="1" height="150" width="700">
    <tr>
        <td align ='center' valign="middle">數字</td>
        <td align='center' valign="middle">1</td>
        <td align='center' valign="middle">2</td>
        <td align='center' valign="middle">3</td>
        <td align='center' valign="middle">4</td>
        <td align='center' valign="middle">5</td>
        <td align='center' valign="middle">6</td>
        <td align='center' valign="middle">7</td>
    </tr>
    <tr>
        <td align='center' valign="middle">結果</td>
        <td align='center' valign="middle">do</td>
        <td align='center' valign="middle">re</td>
        <td align='center' valign="middle">mi</td>
        <td align='center' valign="middle">fa</td>
        <td align='center' valign="middle">so</td>
        <td align='center' valign="middle">la</td>
        <td align='center' valign="middle">xi</td>
    </tr>
</table>